<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

  <div class="overzicht__navigation">
    <div class="overzicht__button--container">
      <a href="/service-aanmelden" class="overzicht__button">Zelf iets plaatsen...</a>
    </div>
  
    <div class="overzicht__search">
      <form action="/search" method="POST">
        <input type="text" name="searchQuery" placeholder="Zoeken..." />
        <button type="submit" class="overzicht__search--button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#202020"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
        </button>
      </form>
    </div>
  </div>

  <ul class="overzicht__container">
    <% // Sorteren van advertenties op oud naar nieuw (Hoogste ID tot laagste ID)
    services.sort((a, b) => b.id - a.id); services.forEach(function(service) {
    %>
    <li class="overzicht__service fade-in">
      <div class="loading"></div>
      <a href="/service/<%= service.slug %>">
        <form action="/like" method="POST" class="overzicht__like--form">
          <label class="heart-checkbox" for="<%= service.id %>-like">
            <input type="checkbox" name="like" id="<%= service.id %>-like" value="<%= service.id %>" />
            <i class="fas fa-heart"></i>
            <div class="spinner"></div>
            <span><%= service.likes %></span>
          </label>
        </form>
        <img src="https://fdnd-agency.directus.app/assets/<%= service.image %>"/>
        <section class="overzicht__service--tekst">
          <h2><%= service.title %></h2>
          <p><%= service.short_description %></p>
        </section>
      </a>
    </li>
    <% }); %>
  </ul>

  <div class="overzicht__pagination">
    <!-- Previous link -->
    <a href="/overzicht?page=<%= currentPage - 1 %>"
       class="pagination__link <%= currentPage === 1 ? 'disabled' : '' %>">
      Vorige
    </a>
    
    <!-- Page numbers -->
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/overzicht?page=<%= i %>"
         class="pagination__link pagination__number <%= currentPage === i ? 'pagination__current' : '' %>">
        <%= i %>
      </a>
    <% } %>
    
    <!-- Next link -->
    <a href="/overzicht?page=<%= currentPage + 1 %>"
       class="pagination__link <%= currentPage === totalPages ? 'disabled' : '' %>">
      Volgende
    </a>
  </div>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>
